<% provide(:contact_active, 'active') %>


<div class="container text-white">


<body background="https://s3-us-west-1.amazonaws.com/photogallery1/bk1.jpg">
</body>

<center><h1 style="color:yellow;">Hincy Gallery Aerial Videos</h1></center>
<br>
<center><h4>Aerial Videos by: William P. Hincy</h4></center>
<br>


</div>


<br>
<br>






<div class="row">
  <div class="col-sm-3" style="background-color:#E1BEE7;">


          <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe width="100%" height="100%" src='https://s3-us-west-1.amazonaws.com/photogallery1/Lake+Shasta1_1?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
                            </div>
                            <h5 class="card-title text-center font-weight-bold ">Lake Shasta</h5>
                            <p class="card-text">Lake Shasta is located ten miles north of the city of Redding, California.
                              The lake has 365 mi of mostly steep mountainous shoreline covered with tall evergreen trees.</p>
                        </div>
                  </div>
              </div>
         </div>


  <div class="col-sm-3" style="background-color:#9FA8DA;">

          <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="auto" src='https://s3-us-west-1.amazonaws.com/photogallery1/Lake+Oroville?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
                          </div>
                            <h5 class="card-title text-center font-weight-bold">Lake Oroville</h5>
                            <p class="card-text">Lake Oroville is a reservoir formed by the Oroville Dam impounding the Feather River, located in northern California.
                               The lake is situated 5 miles northeast of the city of Oroville. </p>
                     </div>
                 </div>
          </div>
  </div>


  <div class="col-sm-3" style="background-color:#E1BEE7;">

          <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe src='https://s3-us-west-1.amazonaws.com/photogallery1/pyramid2.mp4?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
                            </div>
                            <h5 class="card-title text-center font-weight-bold">Pyramid Lake</h5>
                            <p class="card-text">Built in 1972, Pyramid Lake was created as a holding reservoir.
                              The reservoir is placed between the Angeles National Forest and the Los Padres National Forest.</p>
                    </div>
                </div>
          </div>
  </div>


  <div class="col-sm-3" style="background-color:#9FA8DA;">

          <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe src='https://s3-us-west-1.amazonaws.com/photogallery1/Shelter1.mp4?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
                          </div>
                            <h5 class="card-title text-center font-weight-bold">Shelter Cove</h5>
                            <p class="card-text">Shelter Cove is on California's Lost Coast where the King Range meets the Pacific Ocean. It lies at an elevation of 138 feet.</p>
                     </div>
                </div>
          </div>
  </div>





</div>





















</body>
