<% provide(:contact_active, 'active') %>

<body>

  <div class="container text-black">



    <body background="https://s3-us-west-1.amazonaws.com/photogallery1/bk1.jpg">
    </body>


    <div class="card" style="max-width: 100%;">

      <div class="card-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="100%" height="100%" src='https://s3-us-west-1.amazonaws.com/photogallery1/hgwelcome.mp4?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
            </div>
        <h1 class="card-title, card text-center">Welcome </h1>
        <h4 class="card text-center">To The Hincy Gallery</h4>

      </div>
    </div>


</body>
