$pink:          #F83E7F;
$orange:        #ff7602;
$yellow:        #fefa27;
$green:         #509916;
$blue:          #00b2f0;
$plum:          #7c2583;
$purple:        #752a8f;
$black:         #000;
$darkgray: 		#A9A9A9;
$lightgray:		#D3D3D3;
$gray:			#808080;
$lavender:		#E6E6FA;
$lightskyblue:	#87CEFA;
$slategray:		#708090;
$nebula:		#d2e1dd;
$dawn-pink:		#f2ece4;


$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


$purple1: #4040a1;
